<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% extends 'base.html' %}


{% block content %}
<h1>{% block title %} Edit "{{ post[3] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Post title"
               class="form-control"
               value="{{ request.form['title'] or post[2] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="content">Contenido</label>
        <textarea name="content" placeholder="Post content"
                  class="form-control">{{ request.form['content'] or post[3] }}</textarea>
    </div>
   

    <div class="form-group">
        <label for="autor">Autor</label>
        <input type="text" name="autor" placeholder="Nombre del autor"
               class="form-control"
               value="{{ request.form['autor'] or post[4] }}">
        </input>
    </div>
     <div class="form-group">
        <label for="lugar">Lugar</label>
        <input type="text" name="lugar" placeholder="Dónde se escribió"
               class="form-control"
               value="{{ request.form['lugar'] or post[5] }}">
        </input>
    </div>
     <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
<hr>

<form action="{{ url_for('delete', id=post[0]) }}" method="POST">
    <input type="submit" value="Delete Post"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this post?')">
</form>

{% endblock %}
